*{
  margin: 0;
  padding: 0;
}

body {
  background: black;
  width: 20000px;
}

canvas {
  margin: 10em auto;  
  display: inline-block;
  float: left;
}

nav{
	float: left;
	display: block;
}

/*.block{
	background-color: black;
	color: white;
}*/
iframe, video, img{
	margin: 0;
	position:relative;
	float: left;
	display: block;

}

video{
	width: 40em;
	height: 40em;
	border: 1px white solid;
}

p{
	margin-top: 2em;
	font-size: 6em;
	border: 1px solid black;
	float: left;
	display: inline-block;
	color:white;
}

li a{
	color:white;
}

#transition{
	background-image: url(img/transition.jpg);
	background-size: 60%;
}
