 http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*End Reset*/

 /*Fonts*/
 @font-face {
font-family: 'Avara';
src: url('../font/avara/avara-webfont.eot');
src: url('../font/avara/avara-webfont.woff') format('woff'),
     url('../font/avara/avara-webfont.eot?#iefix') format('embedded-opentype'),
     url('../font/avara/avara-webfont.svg#QuadrantaBold') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Avenir LT Std 85 Heavy';
font-style: normal;
font-weight: normal;
src: local('Avenir LT Std 85 Heavy'), url('../font/avenir/AvenirLTStd-Heavy.woff') format('woff');
}
 /*End Fonts*/

 * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* #### Little Screens #### */
@media screen and (max-width: 1100px){
    .wrapper {
    display:none;
  }

  body{
    background-color: black;
  }

  #warning-message {
    display: block;
    color: #FFF;
    text-align: center;
    font-family: 'AvenirLTStd-Heavy', 'Arial';
    font-size: 1.2em;
  }

  #warning-message h1{
    font-family: 'Avara', 'AvenirLTStd-Heavy', 'Arial';
    font-size: 1.8em;
    margin: 20% 0 0 0;
  }

  #warning-message p{
  font-family: 'AvenirLTStd-Heavy', 'Arial';
  font-size: 0.8em;
  line-height: 1.5em;
  margin:2% 20% 0 20%;
  }
}

/*Desktops*/
@media screen and (min-width:1101px){
  body, html {
    font-family: "Avenir LT Std 85 Heavy","europa-1", sans-serif;
    overflow: hidden;
    margin:0;
    background-color: black;
  }

  /*Little screens hide*/
  #warning-message {
    display: none;
  }

  /** Start Carousel */
  .carousel {
    width: 100%;
    position: relative;
  }
  .carousel .carousel__content {
    width: auto;
    height: 100%;
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: translate3d(0, 0, 0);
  }
  .carousel .carousel__content .item {
    display: table-cell; /* comportement visuel de cellule */
    vertical-align: middle;
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .carousel .carousel__content .item img {
    width: 100%;
    max-width: 100%;
    display: block;
  }
  .carousel .carousel__nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .carousel .carousel__nav .nav {
    font-family: 'Avara', 'Arial';
    z-index: 2;
    font-size: 1.2rem;
    margin:0;
    padding: 0.5em;
    height: 40px;
    width: auto;
    cursor: pointer;
    background-color:#fff;
    color:black;
    align-items: flex-start;
    -webkit-writing-mode:horizontal-tb;
    position: absolute;
  }
  .carousel .carousel__nav .nav--right {
    right: 0;
  }
  /*End Carousel*/

/*First item Title*/
  #stage {
    max-width: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: auto;
  }

/*Seconde item video*/
  .container{
    line-height: 600px;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: auto;
  }

  video {
    min-width: 100%;
    width: 100%;
    height: 100%;
    z-index: -100;
    margin: 0 auto;
    vertical-align: middle;
  }

/*Pause button*/
  button.pause-button,
  button.pause-button-audio{
    z-index: 2;
    border:none;
    top:0;
    margin:0;
    padding: 0.5em;
    height: 40px;
    width: auto;
    cursor: pointer;
    background-color:#fff;
    color:black;
    position: absolute;
    display: block;
    font-family: "Avara", "europa-1";
    font-size: 1.2rem;
  }

/*Third item, Explain*/
  canvas#explication{
    width: 95%;
    height: auto;
    vertical-align: middle;
  }

/*Fourth Item Steps*/
   #content{
    width: 100%;
    height: auto;
    margin: 0 auto;
    color: white;
    display: inline-block;
    text-align: center;
    position: relative;
  }
  
  #video-tab{
    width: auto;
    height:auto;
    min-width: 90%;
  }

  #ul{
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 10;
    right: 0;
    top:4em;
  }

  #ul li{
    list-style: none;
    display: inline-block;
  }

  #ul li a{
    color: #fff;
    font-family: 'Avara', 'Arial';
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
    padding: 1em;
    width: auto;
    height: auto;
    padding-bottom: 0.5em;
  }

    #ul li a:hover{
    -webkit-animation: hover 0.5s;
    animation: hover 0.5s;
    webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  #ul li a:active,#ul li a:focus,.active{
    color:#000 !important; 
    background-image: url(steps.png);
    background-repeat: none;
  }

  @-webkit-keyframes hover {
    from {background-image: none;}
    to {background-image:url(steps.png);}
  }

  @keyframes hover {
    from {background-image: none;}
    to {background-image:url(steps.png);}
  }

/*5 item End*/
.footer{
  float: right;
  padding-right: 15%;
  bottom: 0;
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 600px) and (orientation: portrait){
  /* Display none portrait mode */
  body, html{
    overflow: scroll;
    -webkit-overflow: scroll;
  }

  .wrapper {
    display:none;
    }

  #warning-message {
    display: block;
    color: #FFF;
    text-align: center;
    font-family: 'AvenirLTStd-Heavy', 'Arial';
    font-size: 1.2em;
  }

  #warning-message h1{
    font-family: 'Avara', 'AvenirLTStd-Heavy', 'Arial';
    font-size: 1.8em;
    margin: 68% 0 0 0;
  }

  #warning-message p{
  font-family: 'AvenirLTStd-Heavy', 'Arial';
  font-size: 0.8em;
  line-height: 1.5em;
  margin:2% 20% 0 20%;
  }
}
/* #### END Mobile Phones Portrait #### */


/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 767px) and (orientation: landscape){
  /* Display in Landsxape mode */

  .wrapper {
    display:none;
  }

  #warning-message {
    display: block;
    color: #FFF;
    text-align: center;
    font-family: 'AvenirLTStd-Heavy', 'Arial';
    font-size: 1.2em;
  }

  #warning-message h1{
    font-family: 'Avara', 'AvenirLTStd-Heavy', 'Arial';
    font-size: 1.8em;
    margin: 20% 0 0 0;
  }

  #warning-message p{
  font-family: 'AvenirLTStd-Heavy', 'Arial';
  font-size: 0.8em;
  line-height: 1.5em;
  margin:2% 20% 0 20%;
  }
}


/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
  /* some CSS here */
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 640px) and (max-device-width: 1024px and (orientation:portrait){
  /* some CSS here */
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px and (orientation:landscape){
  /* some CSS here */
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
/*    .carousel .carousel__nav .nav{
    bottom: 150px;
  }
  }*/