@-webkit-keyframes glitch {
  100% {
    clip: rect(27px, 9999px, 68px, 0);
  }
  95% {
    clip: rect(65px, 9999px, 8px, 0);
  }
  90% {
    clip: rect(24px, 9999px, 65px, 0);
  }
  85% {
    clip: rect(36px, 9999px, 75px, 0);
  }
  80% {
    clip: rect(57px, 9999px, 75px, 0);
  }
  75% {
    clip: rect(38px, 9999px, 84px, 0);
  }
  70% {
    clip: rect(31px, 9999px, 51px, 0);
  }
  65% {
    clip: rect(16px, 9999px, 98px, 0);
  }
  60% {
    clip: rect(6px, 9999px, 49px, 0);
  }
  55% {
    clip: rect(3px, 9999px, 40px, 0);
  }
  50% {
    clip: rect(35px, 9999px, 32px, 0);
  }
  45% {
    clip: rect(66px, 9999px, 57px, 0);
  }
  40% {
    clip: rect(19px, 9999px, 8px, 0);
  }
  35% {
    clip: rect(54px, 9999px, 94px, 0);
  }
  30% {
    clip: rect(24px, 9999px, 9px, 0);
  }
  25% {
    clip: rect(61px, 9999px, 29px, 0);
  }
  20% {
    clip: rect(81px, 9999px, 43px, 0);
  }
  15% {
    clip: rect(90px, 9999px, 29px, 0);
  }
  10% {
    clip: rect(19px, 9999px, 25px, 0);
  }
  5% {
    clip: rect(65px, 9999px, 84px, 0);
  }
}
@keyframes glitch {
  100% {
    clip: rect(27px, 9999px, 68px, 0);
  }
  95% {
    clip: rect(65px, 9999px, 8px, 0);
  }
  90% {
    clip: rect(24px, 9999px, 65px, 0);
  }
  85% {
    clip: rect(36px, 9999px, 75px, 0);
  }
  80% {
    clip: rect(57px, 9999px, 75px, 0);
  }
  75% {
    clip: rect(38px, 9999px, 84px, 0);
  }
  70% {
    clip: rect(31px, 9999px, 51px, 0);
  }
  65% {
    clip: rect(16px, 9999px, 98px, 0);
  }
  60% {
    clip: rect(6px, 9999px, 49px, 0);
  }
  55% {
    clip: rect(3px, 9999px, 40px, 0);
  }
  50% {
    clip: rect(35px, 9999px, 32px, 0);
  }
  45% {
    clip: rect(66px, 9999px, 57px, 0);
  }
  40% {
    clip: rect(19px, 9999px, 8px, 0);
  }
  35% {
    clip: rect(54px, 9999px, 94px, 0);
  }
  30% {
    clip: rect(24px, 9999px, 9px, 0);
  }
  25% {
    clip: rect(61px, 9999px, 29px, 0);
  }
  20% {
    clip: rect(81px, 9999px, 43px, 0);
  }
  15% {
    clip: rect(90px, 9999px, 29px, 0);
  }
  10% {
    clip: rect(19px, 9999px, 25px, 0);
  }
  5% {
    clip: rect(65px, 9999px, 84px, 0);
  }
}
@-webkit-keyframes glitch2 {
  100% {
    clip: rect(62px, 9999px, 50px, 0);
  }
  95% {
    clip: rect(45px, 9999px, 93px, 0);
  }
  90% {
    clip: rect(5px, 9999px, 55px, 0);
  }
  85% {
    clip: rect(73px, 9999px, 6px, 0);
  }
  80% {
    clip: rect(77px, 9999px, 58px, 0);
  }
  75% {
    clip: rect(18px, 9999px, 52px, 0);
  }
  70% {
    clip: rect(11px, 9999px, 100px, 0);
  }
  65% {
    clip: rect(26px, 9999px, 12px, 0);
  }
  60% {
    clip: rect(31px, 9999px, 19px, 0);
  }
  55% {
    clip: rect(48px, 9999px, 75px, 0);
  }
  50% {
    clip: rect(90px, 9999px, 86px, 0);
  }
  45% {
    clip: rect(28px, 9999px, 64px, 0);
  }
  40% {
    clip: rect(46px, 9999px, 1px, 0);
  }
  35% {
    clip: rect(41px, 9999px, 46px, 0);
  }
  30% {
    clip: rect(19px, 9999px, 44px, 0);
  }
  25% {
    clip: rect(23px, 9999px, 85px, 0);
  }
  20% {
    clip: rect(85px, 9999px, 69px, 0);
  }
  15% {
    clip: rect(32px, 9999px, 16px, 0);
  }
  10% {
    clip: rect(53px, 9999px, 96px, 0);
  }
  5% {
    clip: rect(42px, 9999px, 44px, 0);
  }
}
@keyframes glitch2 {
  100% {
    clip: rect(62px, 9999px, 50px, 0);
  }
  95% {
    clip: rect(45px, 9999px, 93px, 0);
  }
  90% {
    clip: rect(5px, 9999px, 55px, 0);
  }
  85% {
    clip: rect(73px, 9999px, 6px, 0);
  }
  80% {
    clip: rect(77px, 9999px, 58px, 0);
  }
  75% {
    clip: rect(18px, 9999px, 52px, 0);
  }
  70% {
    clip: rect(11px, 9999px, 100px, 0);
  }
  65% {
    clip: rect(26px, 9999px, 12px, 0);
  }
  60% {
    clip: rect(31px, 9999px, 19px, 0);
  }
  55% {
    clip: rect(48px, 9999px, 75px, 0);
  }
  50% {
    clip: rect(90px, 9999px, 86px, 0);
  }
  45% {
    clip: rect(28px, 9999px, 64px, 0);
  }
  40% {
    clip: rect(46px, 9999px, 1px, 0);
  }
  35% {
    clip: rect(41px, 9999px, 46px, 0);
  }
  30% {
    clip: rect(19px, 9999px, 44px, 0);
  }
  25% {
    clip: rect(23px, 9999px, 85px, 0);
  }
  20% {
    clip: rect(85px, 9999px, 69px, 0);
  }
  15% {
    clip: rect(32px, 9999px, 16px, 0);
  }
  10% {
    clip: rect(53px, 9999px, 96px, 0);
  }
  5% {
    clip: rect(42px, 9999px, 44px, 0);
  }
}

.text-glitch{
  width: 40%;
  margin:0 auto;
  padding-top:7%;
}

.text-glitch p,.footer a{
  font-family: 'Avara';
  padding: 20px 0 20px 10px;
  font-size: 1.3em;
  line-height: 2em;
  position: relative;
  color: #fff;
}

.footer a{
  font-size: 0.9em;
}

.text-glitch p:after{
  content: attr(data-text);
  position: absolute;
  left: 12px;
  text-shadow: -1px 0 green;
  top: 20px;
  color: white;
  overflow: hidden;
  clip: rect(0, 2000px, 0, 0);
  -webkit-animation: glitch 7s infinite linear alternate-reverse;
}
.text-glitch p:before{
  content: attr(data-text);
  position: absolute;
  left: 12px;
  text-shadow: 1px 0 red;
  top: 20px;
  color: white;
  overflow: hidden;
  clip: rect(0, 2000px, 0, 0);
  -webkit-animation: glitch2 10s infinite linear alternate-reverse;
}

/*.footer a:before{
  content: attr(data-text);
  position: absolute;
  left: 12px;
  text-shadow: 1px 0 red;
  top: 20px;
  color: white;
  overflow: hidden;
  clip: rect(0, 10px, 0, 0);
  -webkit-animation: glitch2 10s infinite linear alternate-reverse;
}

.footer a:after {
  content: attr(data-text);
  position: absolute;
  left: 12px;
  text-shadow: -1px 0 green;
  top: 20px;
  color: white;
  overflow: hidden;
  clip: rect(0, 10px, 0, 0);
  -webkit-animation: glitch 7s infinite linear alternate-reverse;
}*/